<div class="title">通知发布
    <button class="saveService" ng-click="delete()">发送</button>

</div>
<div class="line"></div>

<div class="notificationPublishArea" style="width: 1400px;height: 700px;margin-left: 64px;margin-top: 32px;border: 1px solid silver">
    <div class="sender">
        <label style="margin-left: 100px;min-width: 100px">发件人：</label><input placeholder="Admin" style="width:1100px;height: 42px;margin-top: 32px;padding-left: 32px;outline: none;border: 0" readonly>
        <div style="border-bottom: 1px solid silver;width: 90%;margin-left: 5%"></div>
    </div>
    <div class="sender" style="margin-top: 20px">
        <label style="margin-left: 100px;min-width: 100px">收件人：</label>
        <button style="width: 100px;height: 32px;border: 1px solid silver;border-radius: 5px;background-color:white ">添加联系人</button>
        <div style="border-bottom: 1px solid silver;width: 90%;margin-left: 5%;margin-top: 20px"></div>
    </div>
    <div class="sender">
        <label style="margin-left: 100px;min-width: 100px">主题：</label><input style="width:1100px;height: 42px;margin-top: 16px;padding-left: 32px;outline: none;border: 0" >
        <div style="border-bottom: 1px solid silver;width: 90%;margin-left: 5%"></div>
    </div>
    <div class="sender">
        <textarea style="margin-left: 100px;margin-top: 20px;width: 1200px;height: 400px;resize: none;outline: none;padding-left: 32px;border: 1px solid white" >

            发送自管理员
        </textarea>

    </div>
</div>