<div class="title">统计界面</div>
<div class="line"></div>
<div  style="width: 750px;margin-left: 42px;display: inline-block;float: left">
    <div id="test" style="width: 700px;height: 300px;margin-top: 24px;"></div>
    <div id="test2" style="width: 700px;height: 400px;margin-top: 24px;"></div>
</div>

<div style="width: 820px;height: 700px;display: inline-block;float: left">
    <div id="rose" style="width:400px;height: 350px;margin-top: 24px;display: inline-block;float: left"></div>
    <div id="rose2" style="width:400px;height: 350px;margin-top: 24px;display: inline-block;float: left"></div>
</div>
