<div class="title">用户统计</div>
<div class="line"></div>

<div style="width:1100px;height: 700px;border: 1px solid silver;margin-left: 32px;margin-top: 32px;display: inline-block;float: left;" id="a"></div>

<div style="width:400px;height: 700px;margin-left: 32px;margin-top: 32px;display: inline-block;float: left;">
    <div style="margin: 6px;box-shadow: 1px 1px 1px;height: 300px">
        <div style="margin: 6px;box-shadow: 2px 2px 2px;height: 120px;background-color: #f9f9f9">
            <div style="text-align: center;font-size: 32px;color: #434239">
                <label style="margin-top: 32px">用户总数：</label>
                <label ng-bind="numall">24</label>
            </div>
        </div>
        <div style="width:115px;height: 130px;margin-top: 12px;margin-left: 5px;display: inline-block;float: left;box-shadow: 2px 2px 2px;background-color: #f9f9f9">
            <label style="width: 100%;text-align: center;margin-top: 32px;font-size: large">今日新增：</label>
            <label style="width: 100%;text-align: center;margin-top: 12px;font-size: large;color: greenyellow">0▲</label>
        </div>
        <div style="width:115px;height: 130px;margin-top: 12px;margin-left: 13px;display: inline-block;float: left;box-shadow: 2px 2px 2px;background-color: #f9f9f9">
            <label style="width: 100%;text-align: center;margin-top: 32px;font-size: large">本周新增：</label>
            <label style="width: 100%;text-align: center;margin-top: 12px;font-size: large;color: greenyellow">1▲</label>
        </div>
        <div style="width:115px;height: 130px;margin-top: 12px;margin-left: 13px;display: inline-block;float: left;box-shadow: 2px 2px 2px;background-color: #f9f9f9">
            <label style="width: 100%;text-align: center;margin-top: 32px;font-size: large">本月新增：</label>
            <label style="width: 100%;text-align: center;margin-top: 12px;font-size: large;color: red">1▼</label>
        </div>

    </div>
    <div style="margin: 6px;height: 300px;margin-top: 32px" id="status"></div>
</div>