<head>
    <meta charset="UTF-8">
    <title>HospitalServicePlatform</title>
    <link rel='stylesheet' href='/lib/css/register.css'/>
    <link rel='stylesheet' href='/lib/css/bootstrap/bootstrap.min.css'/>
</head>

<body style="margin:0px" ng-app="registerApp" ng-controller="registerCtrl">
<div>
    <div style="z-index: 0" id="bk">
        <img id="register_bk" class="register_bk" src="/images/register_bk.jpg">
    </div>
    <div id="info_table" class="info_table">
        <div class="input_area" style="margin-left: 18%;margin-top: 10%">
            <input class="input_box" id="input_box" placeholder="用户名" ng-model="username"><br>
            <input type="password" class="input_box" id="input_box" placeholder="密码（需包含数字和字母）" ng-model="password"><br>
            <input type="password" class="input_box" id="input_box" placeholder="请再次输入密码" ng-model="passwordConfirm"><br>
            <input class="input_box" id="input_box" placeholder="邮箱" ng-model="mailAddr"><br>
            <input class="input_box" id="input_box" placeholder="电话" ng-model="Tel"><br>
            <button class="register_info_input" ng-click="toRegister()">注册</button>
            <button class="back" ng-click="backToMain()">返回</button>
        </div>
    </div>
</div>
</body>

<script src="/lib/chart.js"></script>
<script src="/lib/echarts.min.js"></script>
<script src="/lib/jquery-2.1.1.min.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/countup-js/js/countup.js"></script>
<script src="/lib/unslider.min.js"></script>
<script src="/javascripts/controller/register.controller.js"></script>